
@import '../../shared-styles/variables';

.paragraph + .paragraph {
  padding-top: $padding;
}

.button{
    position: absolute;
    top: 6.5em;
    left: 47em;
    margin-left: 1em;
    width: 65px;
    height: 25px;
}
